/Library
/Assets/Firebase/Plugins/x86_64
/Temp
/Logs
/obj/Debug
/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.bundle
/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.bundle.meta
/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.dll
/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.dll.meta
/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.so
/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.so.meta
/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_7_0.bundle
/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_7_0.bundle.meta
/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_7_0.dll
/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_7_0.dll.meta
/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_7_0.so
/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_7_0.so.meta
